.navbar{
    padding: 12px 1%;
    position: fixed;
    z-index: 11;
    display: flex;
    width: 100%;
}
.NavSearch{
    display: flex;
    padding: 25px 0 !important;
    z-index: 11;
    position: relative;
    margin-bottom: 8%;
}
.active{
    position: fixed;
    z-index:1001;
    width: 100%;
    background: #10141f;
    padding: 12px 1%;
}
.ActiveSearch{
    width: 100%;
    z-index: 1001;
    position: fixed;
    background: #10141f;
    padding: 1%;
    animation-name: scrollNav;
    animation-duration: .4s;
    margin-top: -4%;
}
@keyframes scrollNav{
    0%{
      opacity: 0;
      transform: translateY(-60px);
    };
    100%{
      opacity: 1;
      transform: translateY(0);
    };
}
.listNav{
    align-items: center;
}
.listNavActive{
    background-color: #10141f;
    padding-bottom: 1%;
    align-items: center;
	position: relative;
    justify-content: space-between;
}
.logo{
    font-family: Sonsie One cursive;
}
.leftSide{
    display: flex ;
    align-items: center;
    color:white;
    justify-content: space-between;
}
.browser{
    margin-right: 25%
    
}
.iconSearch{
    color:white;
    font-size: 1.4rem;
}
.rightSide{
    display: flex;
    justify-content: space-between;
}

.btnRgst{
    background:white;
    border: none;
    color: black;
    font-weight: bold;
    margin-left: 10%;
}
.btnRgst:hover{
    background:#ccc; 
}
.btnSng{
    color: white;
}
.inputForm{
    border-radius: 6px;
}




@media only screen and (max-width: 800px) {
    .listNav{
        align-items: center;
        position: relative;
		justify-content: space-between;
    }
    .listNavActive{
        position: sticky;
    }
    .leftSide {
        justify-content: flex-start;
    }
    .browser{
        display:none
    }
    .rightSide{
        justify-content: flex-end;
    }
    .btnSng{
        display: none;
    }
    .inputForm{
        width: 100%;
    }
  }

  @media only screen and (max-width: 500px) {
    .rightSide{
        justify-content: flex-end;
    }
  }