.navbar{
    padding: 5px 1%;
    position: fixed;
    z-index: 11;
    display: flex;
    width: 100%;
}
.NavSearch{
    display: flex;
    padding: 25px 0 !important;
    z-index: 11;
    position: relative;
    margin-bottom: 8%;
}
.active{
    position: fixed;
    z-index:1001;
    width: 100%;
    background: #10141f;
    padding: 5px 1%;
    box-shadow: 1px 3px 0px -1px rgba(43, 41, 41, 0.75);
    -webkit-box-shadow: 1px 3px 0px -1px rgba(43, 41, 41, 0.75);
    -moz-box-shadow: 1px 3px 0px -1px rgba(43, 41, 41, 0.75);
}
.ActiveSearch{
    width: 100%;
    z-index: 1001;
    position: fixed;
    background: #10141f;
    padding: 1%;
    animation-name: scrollNav;
    animation-duration: .4s;
    margin-top: -4%;
}
@keyframes scrollNav{
    0%{
      opacity: 0;
      transform: translateY(-60px);
    };
    100%{
      opacity: 1;
      transform: translateY(0);
    };
}
.logo{
    cursor: pointer;
}
.listNav{
    align-items: center;
}
.listNavActive{
    background-color: #10141f;
    align-items: center;
	position: relative;
    justify-content: space-between;
}
.logo{
    font-family: Sonsie One cursive;
}
.leftSide{
    display: flex ;
    align-items: center;
    color:white;
    justify-content: space-between;
}
.listNav ,.list ,.listActive{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.listNav li, .list li, .listActive li{
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.listNav li:hover , .list li:hover , .listActive li:hover{
    color: #A00940;
}
.browser{
    margin-right: 25%
    
}
.iconSearch{
    color:white;
    font-size: 1.4rem;
}
.rightSide{
    display: flex;
    justify-content: end;
    align-items: center;
}

.btnRgst{
    background:white;
    border: none;
    color: black;
    font-weight: bold;
    margin-left: 10%;
}
.btnRgst:hover{
    background:#ccc; 
}
.btnSng{
    color: white;
    border: 2px solid #A00940;
    border-radius: 22px;
    width: 6rem;
    margin-left: 16px;
}
.btnSng:hover{
    background-color: #A00940;
}
.inputForm{
    border-radius: 6px;
}

.searchPart{
    background-color: rgba(16,20,31,0.96);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    z-index: 100;
    width: 100%;
    overflow: scroll;
}
.hiddenSearch{
    display: none;
}
.Bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 12px;
}
.inputSection{
    position: relative;
    width: 90vw;
}
.icon{
    position: absolute;
    top: 15px;
    font-size: 1.8rem;
    color: white;
}
.input{
    position: absolute;
    width: 96%;
    padding: 10px 10px 15px 50px;
    font-size: 25px;
    outline: none;
    color: white;
    background-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.input:focus{
   border-bottom: 3px solid white; 
}
.iconCancel{
    background-color: white;
    font-size: 1.8rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
}
.menu{
    font-size: 1.8rem;
    color: white;
    margin-left: 8px;
    cursor: pointer;
    display: none;
}
@media only screen and (max-width: 900px){
    .menu{
        display: block;
    }
    .list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        background-color: #121620;
        width: 35rem;
        height: 25rem;
        padding: 18px;
        right: -600px;
        top: 44px;
        transition: right 0.4s;
    }
    .listActive{
        right: 0px;
        top: 43px;
        transition: right 0.4s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        background-color: #121620;
        width: 100%;
        height: 25rem;
        padding: 18px;
    }
}
@media only screen and (max-width: 800px) {
    .navbar ,.active{
        padding: 14px 1%;
    }
    .listNav{
        align-items: center;
        position: relative;
		justify-content: space-between;
    }
    .listNavActive{
        position: sticky;
    }
    .leftSide {
        justify-content: flex-start;
    }
    .browser{
        display:none
    }
    .rightSide{
        justify-content: flex-end;
    }
    .btnSng{
        display: none;
    }
    .inputForm{
        width: 100%;
    }

  }
 
  @media only screen and (max-width: 500px) {
    .rightSide{
        justify-content: flex-end;
    }
  }